﻿@model IEnumerable<ASP_Project.Models.Person>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "GetData";
}

<h1>Некоторые данные:</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Index
            </th>
            <th>
                First Name
            </th>
            <th>
                Second Name
            </th>
            <th>
                Photo
            </th>
            <th>
                Age
            </th>
            <th>
                Phone
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id = item._id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name.first)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name.last)
                </td>
                <td>
                    <img src="@item.picture">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
            </tr>
        }
    </tbody>
</table>
